// stick
.joycon
	&.left .stick
		top 2em
	&.right .stick
		top 8.5em
	.stick
		position absolute
		left 50%
		transform translateX(-50%)
		width $st
		height $st
		background linear-gradient(180deg, lighten($negro, 25), lighten($negro, 12))
		border .15em solid $negro
		box-sizing border-box
		border-radius 50%
		box-shadow 0 .75em 0 0 alpha($negro, .2)
		&:before, &:after, span
			position absolute
			top 50%
			left 50%
			transform translate(-50%, -50%)
		&:before, &:after
			content ''
			background-color $negro
		span
			box-sizing border-box
			display block
			border-radius 50%
			width 85%
			height 85%
			background-color lighten($negro, 10)
			border .15em solid $negro
			z-index 1
		&:before
			width 100%
			height .15em
		&:after
			width .15em
			height 100%