// estilos generales
@import 'reset'
@import 'variables'
@import 'general'
// Joycon
	@import 'joycon/joycon'
	@import 'joycon/option'
	@import 'joycon/stick'
	@import 'joycon/cross'
	@import 'joycon/option2'
@import 'pad'